:root{
    --bg:#e4d3b7;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #ccceda;
    color: black;
    min-height: 2000px;  
}

/* Navbar */
.navbar{
    display: flex;
    margin: 10px 10px;
    justify-content: space-around;
    align-items: center;
    padding: 0rem 0%;
    background-color: #eb6c5d;
    border-style:dashed;
    border-radius: 3.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    font-family: 'Poppins', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    color: #193540;
    text-decoration: none;
}

.navbar .navbar-logo span{
    color: #fff;
    border: none;
}

.navbar .navbar-nav a{
    font-family: 'Yomogi', sans-serif;
    text-align: right;
    padding: 15px 15px;
    color:black;
    display: inline-block;
    font-size: 2rem;
    font-weight: 700;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover{
    border-radius: 30px;
    background-color: rgba(25, 53, 64, 0.75);
    color: #ffff1b;
    transition: 0.4s;
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
}

.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.5);
    transition: 0.2s;
}

.navbar .navbar-extra a{
    color: #fff;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover{
    color: var(--primary);
}

#hamburger-menu{
    display: none;
}


/* Hero Section */
.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../img/doodle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after{
    content: '';
    display: block;
    position: absolute ;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(204, 206, 218) 3%, rgba(255,255,255,0)50%);
}

.hero .content{
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1{
    display: block;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 10px 10px;
    border-radius: 10px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 3rem;
    color: #193540;
    text-shadow: 1px 1px  ;
    line-height: 1.5;
}

.hero .content h1 span{
    /* display: inline-block; */
    font-family: 'Press Start 2P', sans-serif;
    font-weight: bold;
}

.hero p{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    font-weight: medium;
}

/* Home Section */
.home{
    padding: 10rem 7% 1.4rem;
}

.profile{
    display: flex;
    justify-content: center;
    position: relative;
}

.profile .span-one{
    box-sizing:border-box;
    display:block;
    width:initial;
    height:initial;
    background:none;
    opacity:1;
    border:0;
    margin:0;
    padding:0;
    max-width:100%
}

.profile .span-one .span-two{
    box-sizing:border-box;
    display:inline-block;
    overflow:hidden;
    width:initial;
    height:initial;
    background:none;
    opacity:1;
    border:0;
    margin:0;
    padding:0;
    position:relative;
    max-width:100%
}

.profile .span-one .span-two .photo-profile{
    display:block;
    max-width:100%;
    width:initial;
    height:initial;
    background:none;
    opacity:1;
    border:0;
    margin:0;
    padding:0;
    border-radius: 17rem;
}

.home .name{
    font-family: 'Nanum Pen Script', sans-serif;
    font-size: 5rem;
    font-weight: 500;
}

.home .description{
    font-family: 'Yomogi', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

/* About Section */
.contact{
    padding: 10rem 7% 1.4rem;
}

.contact h2{
    font-family: 'Over Pass', sans-serif;
    font-size: 3rem;
}

.contact ul {
    margin-top: 20px;
}

.contact a{
    font-family: 'Over Pass',sans-serif;
    margin-top: 10px;
    display: flex;
    font-size: 1.5rem;
    color: #193540;
    font-weight: bold;
    word-spacing: 5px;
}


/* Media Queries */

/* Laptop */
@media (max-width: 1366px){
    html{
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }

    #hamburger-menu{
        display: inline-block;
    }

    .navbar .navbar-nav {
        position: absolute;
        padding-right: 2.3rem;
        top: 100%;
        right: -100%;
        background-color: #193540;
        width: 30rem;
        height: 100vh;
        transition: 0.3s;
    }

    .navbar .navbar-nav.active{
        right: 0;
        box-sizing: border-box;
        /* padding: 10px; */
        border-radius: 3rem;
        border: dashed #f8cf5d;
    }

    .navbar .navbar-nav a{
        color:#f8cf5d;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }

    .navbar .navbar-nav a:hover:after{
        transform:scaleX(0.2);
    }
}

/* Mobile Phone */
@media (max-width: 450px){
    html{
        font-size: 55%;
    }
}